* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
body {
  background-color: #292524;
  color: #f5f5f4;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}
@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.logo img {
  width: 68px;
  height: 68px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", system-ui;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  padding: 16px 30px;
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: 1px;
  border-radius: 16px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}
.reactions-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}
.reactions-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.reactions-buttons button:hover {
  background-color: #292524;
}
.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", system-ui;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}
ul {
  list-style: none;
}
.source,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}
.source:hover,
.source:active {
  color: #3b82f6;
}
.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(110%) rotate(-2deg);
  cursor: pointer;
}
.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}
.btn-all {
  margin-bottom: 16px;
  width: 100%;
}
.btn-category {
  width: 100%;
  background-image: none;
}
.technology {
  background-color: #3b82f6;
}
.science {
  background-color: #16a34a;
}
form input,
form select {
  border: none;
  border-radius: 100px;
  background-color: #78716c;
  padding: 16px;
  color: inherit;
  font-family: inherit;
  width: 220px;
}
form input:first-child {
  flex-grow: 1;
}
form input::placeholder {
  color: #a8a29e;
}
form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}
form {
  margin-bottom: 40px;
  background-color: #44403c;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}
@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }
  form {
    flex-direction: column;
    align-items: stretch;
  }
  form input,
  form select {
    width: auto;
  }
}
.category {
  margin-bottom: 16px;
}
.hidden {
  display: none !important;
}
